/*font-family: 'Prata', serif;
font-family: 'PT Sans', sans-serif;*/

/* prata-regular - cyrillic_latin */
@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/prata-v10-cyrillic_latin-regular.woff2'); /* IE9 Compat Modes */
  src: local('Prata Regular'), local('Prata-Regular'),
       url('../fonts/prata-v10-cyrillic_latin-regular.woff2') format('woff2')
}
/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-regular.woff2'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
}
/* pt-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-700.woff2'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #444;
}

h1 {
  font-family: 'Prata', serif;
  font-size: 32px;
  line-height: 42px;
  color: #fff;
}

h2 {
  font-family: 'Prata', serif;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  border-top: 1px solid #eec643;
  border-bottom: 1px solid #eec643;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

.col-6 {
  width: 100%;
}

@media (min-width: 1280px) {
  .hide-mobile {
    display: block;
  }
  .hide-desktop {
    display: none;
  }

  .col-6 {
    width: calc(8.33% * 6);
  }
}



/*-------------------------------PROMO-------------------------------*/

.logo {
  font-family: 'Prata', serif;
  font-size: 30px;
  color: #eec643;
  text-decoration: none;
}

.text-promo {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.nav-link {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/*-------------------------------DIRECTIONS SECTION-------------------------------*/

.direction-card {
  background-color: #444;
}

.direction-desc {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

/*-------------------------------ABOUT SCHOOL SECTION-------------------------------*/

.about-school {
  display: flex;
  flex-direction: column;
}

.adv-first, .adv-second {
  display: flex;
  flex-direction: column;
}

.advantages-title {
  width: 100%;
}

.advantage, .adv-form {
  background-color: #444;
}

.advantage-desc {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.form-col {
  display: flex;
  flex-direction: column;
}

.adv-form {
  display: none;
  background-color: #fff;
}

@media (min-width: 1280px) {
  .about-school {
    flex-direction: row;
    justify-content: space-between;
  }

  .adv-first, .adv-second {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantage, .adv-form {
    width: calc(200% / 12 * 3);
  }

  .adv-form {
    display: block;
  }
}


