/*font-family: 'Prata', serif;
font-family: 'PT Sans', sans-serif;*/

/* prata-regular - cyrillic_latin */
@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/prata-v10-cyrillic_latin-regular.woff2'); /* IE9 Compat Modes */
  src: local('Prata Regular'), local('Prata-Regular'),
       url('../fonts/prata-v10-cyrillic_latin-regular.woff2') format('woff2')
}
/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-regular.woff2'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
}
/* pt-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-cyrillic_latin-700.woff2'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Prata', serif;
  font-size: 32px;
  line-height: 42px;
  color: #fff;
}

h1:first-letter {
    text-transform: uppercase;
}

h2 {
  font-family: 'Prata', serif;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  border-top: 2px solid #eec643;
  border-bottom: 2px solid #eec643;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin: 0;
}

.container {
  max-width: 640px;
  margin: auto;
  padding: 0 14px;
  background-color: #ddd;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

section {
  padding: 15px 0 0 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*margin-left: -7px;
  margin-right: -7px;*/
  margin: -7px;
}

.col {
  /*padding-left: 7px;
  padding-right: 7px;*/
  padding: 7px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

.col--xs-1 {
  width: 25%;
}

.col--xs-2 {
  width: 50%;
}

.col--xs-3 {
  width: 75%;
}

.col--xs-4 {
  width: 100%;
}

.title-bordered {
  margin: 0;
  padding: 5px;
  border-top: 2px solid #eec643;
  border-bottom: 2px solid #eec643;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


@media (min-width: 1280px) {

  h3 {
    font-size: 30px;
    line-height: 40px;
  }

  section {
    padding: 85px 0 0 0;
  }

  .container {
    max-width: 1280px;
    padding: 0 60px;
  }

  .row {
    margin-left: -7px;
    margin-right: -7px;
  }

  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

  .col {
    padding-right: 7px;
    padding-left: 7px;
  }

  .col--lg-1 {
    width: 8.3333333333%;
  }

  .col--lg-2 {
    width: 16.6666666667%;
  }

  .col--lg-3 {
    width: 25%;
  }

  .col--lg-4 {
    width: 33.3333333333%;
  }

  .col--lg-5 {
    width: 41.6666666667%;
  }

  .col--lg-6 {
    width: 50%;
  }

  .col--lg-7 {
    width: 58.3333333333%;
  }

  .col--lg-8 {
    width: 66.6666666667%;
  }

  .col--lg-9 {
    width: 75%;
  }

  .col--lg-10 {
    width: 83.3333333333%;
  }

  .col--lg-11 {
    width: 91.6666666667%;
  }

  .col--lg-12 {
    width: 100%;
  }

  .title-bordered {
    padding-left: 15px;
    padding-right: 28px;
    font-size: 50px;
    line-height: 50px;
  }

  .title-bordered-vert {
    position: absolute;
    top: 100%;
    left: 0;
/*    margin-left: 16px;*/
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  .col--lg-first {
    order: -3;
  }

  .col--lg-second {
    order: -2;
  }

  .col--lg-third {
    order: -1;
  }

  .col--lg-padding-left {
    padding-left: 85px;
  }

}


/*-------------------------------PROMO-------------------------------*/

header {
  padding: 30px 15px;
  background-color: #444;
  background-image: url(../img/bg_main.jpg);
  background-repeat: no-repeat;
  min-height: 540px;
  max-width: 640px;
  margin: auto;
}

.logo {
  font-family: 'Prata', serif;
  font-size: 30px;
  color: #eec643;
  text-decoration: none;
}

.head-title {
  padding-top: 100px;
}

.head-button {
  padding: 20px;
  width: 100%;
}

.text-promo {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.nav-item {
display: inline-block;
}

.nav-link {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 1280px) {

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 60px;
    max-width: 1280px;
    min-height: 760px;
  }

  h1 {
    font-size: 55px;
    line-height: 55px;
  }

  .logo {
    padding-left: 15px;
  }

  .head-title {
    display: flex;
    flex-wrap: wrap;
    padding-top: 180px;
    max-width: 700px;
  }

  .head-menu {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
  }

  .text-promo {
    font-size: 20px;
    line-height: 28px;
  }
}

/*-------------------------------DIRECTIONS SECTION-------------------------------*/

.directions {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.direction-card {
  background-color: #444;
}

.direction-desc {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding: 15px 0 15px 0;
}

.guitar,
.sing,
.piano,
.lessons,
.dir-button-in-form {
  padding: 15px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 140px;
}

.sing {
  order: 1;
  background-image: url(../img/directions-card-img-2-640.jpg);
}
.guitar {
  order: 2;
  background-image: url(../img/directions-card-img-1-640.jpg);
}

.piano {
  order: 3;
  background-image: url(../img/directions-card-img-3-640.jpg);
}

.dir-button-in-form {
  order: 4;
}

.lessons {
  order: 5;
  background-image: url(../img/directions-card-img-4-640.jpg);
}

.dir-button-in-form {
  background-color: #eec643;
  align-items: center;
}

.dir-button-in-form a {
  text-decoration: none;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

@media (min-width: 1280px) {

/*  .directions {
    flex-direction: row;
  }*/

  .direction-desc {
    font-size: 20px;
    line-height: 28px;
  }

  .guitar,
  .sing,
  .piano,
  .lessons,
  .dir-button-in-form {
    min-height: 265px;
    padding: 30px;
    }

  .dir-button-in-form a {
    font-size: 30px;
    line-height: 40px;
  }

}

/*-------------------------------ABOUT SCHOOL SECTION-------------------------------*/

.about-school {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantage, .adv-form {
  background-color: #444;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  padding: 10px;

}

.advantage-desc {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.team,
.results,
.studio {
  height: 100%;
  background: #555;
  padding: 15px;
  min-height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-lesson {
  height: 100%;
  background: #555;
}

.team {
  background-image: url(../img/advantages-card-img-1-640.jpg);
}

.results {
  background-image: url(../img/advantages-card-img-2-640.jpg);
}

.studio {
  background-image: url(../img/advantages-card-img-3-640.jpg);
}

.adv-form {
  display: none;
  background-color: #fff;
  min-height: 500px;
}

.button-in-form {
  display: flex;
  background-color: #eec643;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.button-in-form a {
  text-decoration: none;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  /*transform: rotate(-90deg);*/
}

@media (min-width: 1280px) {

/*  .about-school {
    flex-direction: row;
  }*/

 .adv-form {
    min-height: 560px;
  }

  .advantage-desc {
    font-size: 20px;
    line-height: 28px;
  }

  .adv-form {
    display: flex;
    border: 2px solid #eec643;
    font-size: 20px;
    line-height: 28px;
  }

  .form-col {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  .button-in-form {
    display: none;
  }

  .team,
  .results,
  .studio {
    height: 100%;
    background: #555;
    padding: 30px;
    min-height: 500px;
  }

  .team {
    background-image: url(../img/advantages-card-img-1-1280.jpg);
  }

  .results {
    background-image: url(../img/advantages-card-img-2-1280.jpg);
  }

  .studio {
    background-image: url(../img/advantages-card-img-3-1280.jpg);
  }
}

/*-------------------------------VIDEO SECTION-------------------------------*/

.video {
  position: relative;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive:before {
  display: block;
  content: "";
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9:before {
  padding-top: 56.25%;
}

@media (min-width: 1280px) {

  .title-video {
/*    top: 0;
    bottom: 0;*/
  }

  .video-gallery {
    position: relative;
    padding-left: 884px;
    min-height: 565px;
  }

  .big-video {
    position: absolute;
    top: 0;
    left: 85px;
    height: 565px;
    width: 785px;
}

  .small-video {
    width: 280px;
    margin-bottom: 46px;
  }
}

/*-------------------------------CONTACTS SECTION-------------------------------*/

.title-contacts {
width: 75%;
}

.location {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 15px;
}

.phone,
.address {
  padding-bottom: 10px;
  margin: 0;
}

.embed-responsive-card-xs:before {
  padding-top: 75%;
}

@media (min-width: 1280px) {

  .title-contacts {
  width: 50%;
  }

  .location {
    font-size: 20px;
    line-height: 28px;
  }

  .phone {
    order: -1;
  }

  .card-container {
    display: flex;
  }

  .embed-responsive-card {
    display: flex;
    flex-wrap: wrap;
  }

  .embed-responsive-card-lg {
    margin-right: 15px;
  }

  .embed-responsive-card-lg:before {
  padding-top: 53.793%;
  }
}

/*-------------------------------FOOTER-------------------------------*/

footer {
  padding: 60px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.footer-container a {
  text-decoration: none;
}

.logo-footer {
  font-size: 20px;
  color: #eec643;
  font-family: 'Prata', serif;
}

.social-links {
  width: 370px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
}

.social-links a {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  color: #000;
}



